<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Admin Login</title>
  </head>
  <body>
      {% if msg %}
      {{msg}}
      {% endif %}
    <form action="/admin-login" method="post" accept-charset="utf-8">
        Username:<input type="text" name="username">
        Password:<input type=password name="password" >
        <p><input type="submit" value="Login"></p>
    </form>
  </body>
</html>
